
#conteudo img {
  height: 156px;
    width: 200px;
    margin-top: 35px;
    border-radius: 5px;
    border-bottom: 5px solid green;
    margin-bottom: -6px;

}

#conteudo img:hover {
  border-bottom: 5px solid black;

}



#conteudo h3 {
  margin:0;
  background-color: green;
  border-radius: 5px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;



}

#conteudo h3:hover {
  background-color: white;
  color:green;
  font-style: italic;


}


@media all and (min-width: 550px){
  #conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }


  #conteudo img {
    height: 156px;
      width: 200px;
      margin-top: 35px;
      border-radius: 5px;


  }


  #conteudo h3 {
    margin:0;
    border-radius: 5px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;


  }

}


@media all and (min-width: 550px){
  #conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-size: cover;

  }


}

@media all and (min-width: 1000px){
  #conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  }


}

.seta i{
  color:black;
  font-size: 30px;
}

.passar{
  font-size: 25px;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: black;
  font-weight: 900;
}


.passar:hover{
  background-color: black;
  color:white;
}
